In [1]:
import pandas as pd
import numpy as np

import yaml

from tqdm.notebook import tqdm

from sklearn.model_selection import train_test_split, StratifiedKFold
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import roc_auc_score, accuracy_score, precision_score, \
                            recall_score, f1_score, log_loss, precision_recall_curve

import matplotlib.pyplot as plt

from lightgbm import LGBMClassifier

import optuna

from typing import Tuple, Set

import warnings

RAND=42

N_FOLDS = 4

In [2]:
pd.options.mode.chained_assignment = None
warnings.filterwarnings('ignore')

In [3]:
def extract_words(string):
    return list(map(float, string[1:-1].split()))

In [4]:
def get_metrics(y_test, y_pred, y_score, name = "Default"):
    """Метрики для задачи классификации"""
    df_metrics = pd.DataFrame()

    df_metrics['model'] = [name]
    df_metrics['Accuracy'] = accuracy_score(y_test, y_pred)
    df_metrics['ROC_AUC'] = roc_auc_score(y_test, y_score[:, 1])
    df_metrics['Precision'] = precision_score(y_test, y_pred, zero_division=0)
    df_metrics['Recall'] = recall_score(y_test, y_pred, zero_division=0)
    df_metrics['f1'] = f1_score(y_test, y_pred, zero_division=0)
    df_metrics['Logloss'] = log_loss(y_test, y_score)

    return df_metrics

In [5]:
config_path = "../config/params.yaml"
config = yaml.load(open(config_path), Loader=yaml.FullLoader)

baseline = config["baseline"]

# Baseline

In [6]:
df = pd.read_csv("eda.csv")
df[:5]

,Unnamed: 0,purchase,min_publish_date,price,customer,supplier,is_winner,tokens,month,flag_won,vectorized_tokens,forsmallbiz,reg_code
0,0,3,2021-02-02,290000.00,2,1,1,"['оказание', 'лицензионный', 'заказчик', 'обес...",2,0,[ 0.09995163 -0.04592259 0.01378636 -0.108661...,1,58.2_2
1,1,2834,2021-02-02,105000.00,218,1,1,"['оказание', 'лицензионный', 'заказчик', 'проч...",2,0,[ 0.10110906 -0.0440736 0.01088561 -0.092925...,1,62.0_2
2,2,154949,2021-02-16,98967.50,11235,1,1,"['оказание', 'справочный', 'услуга', 'справочн...",2,0,[ 9.61258310e-02 -7.53206381e-02 1.30420232e-...,1,63.9_2
3,3,147950,2021-03-10,77460.03,11061,1,1,"['центральный', 'нужда', 'оказание', 'область'...",3,0,[ 1.81690110e-01 -7.98087106e-02 2.36332247e-...,0,62.0_2
4,4,165990,2021-03-26,138000.00,11558,1,1,"['использование', 'год', 'услуга', 'поддержка'...",3,0,[ 8.36613937e-02 -3.61296042e-02 1.18028555e-...,0,62.0_2

In [7]:
df = df.drop(columns=['Unnamed: 0'])

In [8]:
df['vectorized_tokens'] = df['vectorized_tokens'].apply(extract_words)

In [9]:
df = df.astype(baseline['change_type_columns'])

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 958129 entries, 0 to 958128
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   purchase           958129 non-null  int64
 1   min_publish_date   958129 non-null  datetime64[ns]
 2   price              958129 non-null  float64
 3   customer           958129 non-null  category
 4   supplier           958129 non-null  category
 5   is_winner          958129 non-null  int64
 6   tokens             958129 non-null  object
 7   month              958129 non-null  int64
 8   flag_won           958129 non-null  int64
 9   vectorized_tokens  958129 non-null  object
 10  forsmallbiz        958129 non-null  int64
 11  reg_code           958129 non-null  category
dtypes: category(3), datetime64[ns](1), float64(1), int64(5), object(2)
memory usage: 76.5+ MB

In [11]:
for i in tqdm(range(100)):
    df[str(i)] = df['vectorized_tokens'].apply(lambda x: x[i])

  0%|          | 0/100 [00:00<?, ?it/s]

In [12]:
df = df.drop(columns=['tokens', 'vectorized_tokens'])

In [13]:
df[:5]

,purchase,min_publish_date,price,customer,supplier,is_winner,month,flag_won,forsmallbiz,reg_code,...,90,91,92,93,94,95,96,97,98,99
0,3,2021-02-02,290000.00,2,1,1,2,0,1,58.2_2,...,0.017627,0.016926,-0.049357,-0.026286,0.020970,0.003175,-0.028066,0.008443,0.001411,-0.034929
1,2834,2021-02-02,105000.00,218,1,1,2,0,1,62.0_2,...,0.046094,0.007618,-0.027536,-0.053111,0.011831,0.011928,0.014621,0.018501,-0.002532,-0.042839
2,154949,2021-02-16,98967.50,11235,1,1,2,0,1,63.9_2,...,0.001504,-0.014368,-0.003083,-0.023380,-0.011952,-0.015312,0.001604,-0.010423,0.008548,0.007586
3,147950,2021-03-10,77460.03,11061,1,1,3,0,0,62.0_2,...,0.047390,0.011939,-0.026689,-0.026909,0.010685,0.032261,0.011898,-0.028451,0.021320,-0.018372
4,165990,2021-03-26,138000.00,11558,1,1,3,0,0,62.0_2,...,0.029461,0.009060,0.002067,-0.056179,-0.007963,0.008658,0.010949,-0.015630,0.029524,-0.038780

In [14]:
# удаляем колонки, которые не известны при рекомендациях
df = df.drop(columns=['flag_won', 'is_winner'])

In [15]:
# определяем train выборку
df_train = df[df['min_publish_date'] < '2022-11-01']
df_train[:5]

,purchase,min_publish_date,price,customer,supplier,month,forsmallbiz,reg_code,0,1,...,90,91,92,93,94,95,96,97,98,99
0,3,2021-02-02,290000.00,2,1,2,1,58.2_2,0.099952,-0.045923,...,0.017627,0.016926,-0.049357,-0.026286,0.020970,0.003175,-0.028066,0.008443,0.001411,-0.034929
1,2834,2021-02-02,105000.00,218,1,2,1,62.0_2,0.101109,-0.044074,...,0.046094,0.007618,-0.027536,-0.053111,0.011831,0.011928,0.014621,0.018501,-0.002532,-0.042839
2,154949,2021-02-16,98967.50,11235,1,2,1,63.9_2,0.096126,-0.075321,...,0.001504,-0.014368,-0.003083,-0.023380,-0.011952,-0.015312,0.001604,-0.010423,0.008548,0.007586
3,147950,2021-03-10,77460.03,11061,1,3,0,62.0_2,0.181690,-0.079809,...,0.047390,0.011939,-0.026689,-0.026909,0.010685,0.032261,0.011898,-0.028451,0.021320,-0.018372
4,165990,2021-03-26,138000.00,11558,1,3,0,62.0_2,0.083661,-0.036130,...,0.029461,0.009060,0.002067,-0.056179,-0.007963,0.008658,0.010949,-0.015630,0.029524,-0.038780

In [16]:
# определяем test выборку
df_test = df[df['min_publish_date'] >= '2022-11-01']
df_test[:5]

,purchase,min_publish_date,price,customer,supplier,month,forsmallbiz,reg_code,0,1,...,90,91,92,93,94,95,96,97,98,99
17,1064,2022-11-15,181720.00,70,1,11,1,58.2_2,0.118956,-0.058592,...,0.003299,0.007779,-0.044355,-0.016624,0.022317,0.028108,-0.003703,-0.005069,0.000613,-0.026491
18,1729,2022-12-06,167448.00,105,1,12,1,62.0_2,0.102237,-0.078737,...,0.029983,0.000158,0.012667,-0.072771,-0.004045,-0.000979,-0.015035,-0.002660,0.014919,-0.056247
19,2430,2022-12-08,200248.16,201,1,12,1,62.0_2,0.133928,-0.085101,...,0.014602,0.008460,-0.003175,-0.079399,-0.011833,0.022215,0.007580,-0.013096,0.027716,-0.062906
20,156898,2022-12-12,190740.00,11266,1,12,0,62.0_2,0.069836,-0.065891,...,0.020553,-0.020859,0.035928,-0.060225,-0.030322,0.010242,-0.003675,-0.002666,0.031446,-0.026175
76,412017,2022-11-07,2886156.00,9651,100009,11,1,27.4_77,0.102239,-0.057708,...,0.017813,-0.030042,-0.058707,-0.019106,-0.023805,0.015103,0.020688,0.023299,0.016912,-0.038975

In [17]:
# определяем поставщиков, которые есть в test, но отсутствуют в train
sup_to_remove = set(df_test['supplier'].unique()) - set(df_train['supplier'].unique())

In [18]:
df_submission = df_test.groupby('supplier')['purchase'].apply(set).to_frame(name='purchases')
# удаляем поставщиков, которые появились на платформе в последние 2 месяца
df_submission = df_submission.drop(sup_to_remove, axis=0)
df_submission[:5]

                           purchases
supplier
1         {1064, 1729, 156898, 2430}
2                   {141478, 536503}
3                           {149878}
4                                 {}
5                           {154789}

In [19]:
# удаляем поставщиков, которых нет на test
df_submission = df_submission.loc[df_submission['purchases'] != set()]
df_submission[:5]

                                                  purchases
supplier
1                                {1064, 1729, 156898, 2430}
2                                          {141478, 536503}
3                                                  {149878}
5                                                  {154789}
6         {41633, 539818, 481931, 40178, 443698, 535989,...

In [20]:
def extract_less_4(row):
    return df_train[df_train['supplier'] == row.name].shape[0] < 4

# выделим поставщиков df_submission, содержащих менее 4 участий на train
df_submission_less_4 = df_submission[df_submission.apply(extract_less_4, axis=1)]
df_submission_less_4[:5]

                                                  purchases
supplier
160                                                   {415}
178       {153344, 145730, 147043, 141508, 149879, 16401...
244                                                   {408}
263                                                {151070}
290                                                  {3052}

In [21]:
def find_closest_vectors(target_vectors: np.ndarray, vector_space: np.ndarray, 
                         k: int =5) -> np.ndarray:
    """
    Find the k vectors in the given vector_space that are closest to the given target_vectors.

    Args:
        target_vectors (numpy.ndarray): A 2D numpy array of shape (n, m) 
            where n is the number of target vectors and m is the dimensionality of the vectors.
        vector_space (numpy.ndarray): A 2D numpy array of shape (p, m) 
            where p is the number of vectors in the vector space and m is the 
            dimensionality of the vectors.
        k (int): The number of closest vectors to return. Default is 5.

    Returns:
        numpy.ndarray: A 1D numpy array of length k containing the indices of 
        the closest vectors in the vector space.
    """
    sum_distances = []
    
    
    mms = MinMaxScaler()
    
    
    #Нормализуем векторы
    target_vectors = mms.fit_transform(target_vectors)
    vector_space = mms.transform(vector_space)
    
    
    for vector in vector_space:
        # создаем массив расстояний между вектором в пространстве и целевыми векторами
        distances = np.linalg.norm(target_vectors - vector, axis=1)
        # сохраняем сумму расстояний между вектором в пространстве и целевыми векторами
        sum_distances.append(np.sum(distances))
    
    
    # выбираем набор векторов с минимальной суммой расстояний до каждого вектора в target_vectors
    if k >= vector_space.shape[0]:
        return np.nonzero(vector_space)
    
    
    return np.argpartition(sum_distances, k)[:k]

In [22]:
# определяем столбцы для удаления перед обучением
columns_to_drop = ['supplier', 'min_publish_date', 'customer', 'reg_code']

In [23]:
def baseline_lgbm(df_tr: pd.DataFrame, df_t: pd.DataFrame) -> pd.DataFrame:
    """
    Trains a LightGBM classifier on the training set and returns the score on the test set.

    Args:
        df_tr (pandas.DataFrame): A pandas DataFrame containing the training set.
        df_t (pandas.DataFrame): A pandas DataFrame containing the test set.

    Returns:
        pandas.DataFrame: The score on the test set.

    """

    x_train = df_tr[df_tr.columns[:-1]]
    y_train = df_tr['target']
    
    x_test = df_t[df_tr.columns[:-1]]
    y_test = df_t['target']

    model = LGBMClassifier(random_state=RAND, class_weight='balanced', n_jobs=-1)
    model.fit(x_train, y_train)

    y_pred = model.predict(x_test)
    y_score = model.predict_proba(x_test)

    return get_metrics(y_test, y_pred, y_score)

In [25]:
def tune_lgbm(df_tr: pd.DataFrame, df_t: pd.DataFrame) -> pd.DataFrame:
    
    x_train = df_tr[df_tr.columns[:-1]]
    y_train = df_tr['target']
    
    x_test = df_t[df_tr.columns[:-1]]
    y_test = df_t['target']
    

    func = lambda trial: objective(trial, x_train, y_train)

    study = optuna.create_study(direction="maximize")
    study.optimize(func, n_trials=10, n_jobs=-1)
    
    return study.best_params

In [26]:
def edit_data(df_train: pd.DataFrame, df_test: pd.DataFrame, 
              df: pd.DataFrame, sup: int) -> Tuple[pd.DataFrame, pd.DataFrame, Set]:
    """
    The function filters the training and test datasets of a supplier with a given 
    reg_code and returns the filtered dataframes as well as the set of participations 
    of this supplier in the original dataset.

    Args:

        df_train: pandas.DataFrame - the training dataset
        df_test: pandas.DataFrame - the test dataset
        df: pandas.DataFrame - the original dataset
        sup: str - the registration code of the supplier

    Returns:

        Tuple[pandas.DataFrame, pandas.DataFrame, set] - a tuple of the filtered 
        dataframes of the training and test datasets, as well as the set of participations 
        of the supplier.
    """
    unique_reg_okpd = df_train[df_train['supplier'] == sup]['reg_code'].unique()
    
    # фильтруем train и test на основе уникальных reg_code поставщиков 
    df_sup_train = df_train[df_train['reg_code'].isin(unique_reg_okpd)]
    df_sup_test = df_test[df_test['reg_code'].isin(unique_reg_okpd)]
    
    # выделяем все участия поставщика
    df_sup_true = set(df[df['supplier'] == sup]['purchase'])
    
    # проверяем, остались ли участия на test после фильтрации
    if df_sup_test['purchase'].isin(df_sup_true).nunique() < 2:
        df_sup_test = df_test.copy()
        
    # удаляем выделенные столбцы и дубликаты
    df_sup_train = df_sup_train.drop(columns=columns_to_drop).drop_duplicates()
    df_sup_test = df_sup_test.drop(columns=columns_to_drop).drop_duplicates()
    
    df_sup_test = df_sup_test.set_index('purchase')
    df_sup_train = df_sup_train.set_index('purchase')
    
    return df_sup_train, df_sup_test, df_sup_true

In [27]:
def rec_algorithm(df_train: pd.DataFrame, df_test: pd.DataFrame, 
                  df_submission: pd.DataFrame, df: pd.DataFrame) -> pd.DataFrame:
    """
    Recommends items for the first 500 suppliers in df_submission based on 
    training data in df_train and df.
    Uses the LightGBM classifier and the baseline_lgbm function to make predictions.

    Args:
    - df_train (pd.DataFrame): Training data with columns 'purchase', 'supplier', 'reg_code', and 'target'.
    - df_test (pd.DataFrame): Test data with columns 'purchase', 'supplier', 'reg_code'.
    - df_submission (pd.DataFrame): Dataframe with the first 500 suppliers for which to recommend items.
    - df (pd.DataFrame): Dataframe with columns 'purchase', 'supplier', 'reg_code'.

    Returns:
    - metrics (pd.DataFrame): Mean of the ROC AUC score for each supplier in 
    df_submission after running the baseline_lgbm function.
    """
    metrics = pd.DataFrame()

    for sup in tqdm(df_submission.index[:500]):

        # подготавливаем данные к обучению
        df_sup_train, df_sup_test, df_sup_true = edit_data(df_train, df_test, df, sup)

        # добавляем метки для обучения алгоритма классификации 
        df_sup_train['target'] = df_sup_train.index.isin(df_sup_true).astype(int)
        df_sup_test['target'] = df_sup_test.index.isin(df_sup_true).astype(int)

        metrics = pd.concat([metrics, baseline_lgbm(df_sup_train, df_sup_test)])

    return metrics.mean(axis=0)

In [28]:
def alg_nearest(df_train: pd.DataFrame, df_test: pd.DataFrame, 
                df_submission_less_4: pd.DataFrame, df: pd.DataFrame) -> float:
    """
    Computes the average recall score for the top 500 rows of df_submission_less_4 
    using the nearest neighbor algorithm.

    Args:
    - df_train: training data DataFrame
    - df_test: testing data DataFrame
    - df_submission_less_4: submission data DataFrame with purchase information
    - df: DataFrame containing information about the suppliers

    Returns:
    - float: the average recall score for the top 500 rows of df_submission_less_4
    """

    recall_less_4 = []

    for sup in tqdm(df_submission_less_4.index[:500]):
        # подготавливаем данные к обучению
        df_sup_train, df_sup_test, df_sup_true = edit_data(df_train, df_test, df, sup)

        # выделяем векторы участия поставщика на train
        vectors = df_sup_train[df_sup_train.index.isin(df_sup_true)]

        # определяем векторы наиболее близки для поставщика на test
        idx = find_closest_vectors(vectors, df_sup_test)
        y_pred = set(df_sup_test.iloc[idx].index)

        recall = len(y_pred & df_submission_less_4.loc[sup]['purchases']) \
                 / len(df_submission_less_4.loc[sup]['purchases'])

        recall_less_4.append(recall)

    return (np.mean(recall_less_4))

In [87]:
rec_algorithm(df_train, df_test, df_submission, df)

  0%|          | 0/500 [00:00<?, ?it/s]

/tmp/ipykernel_19588/1381042027.py:15: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  return metrics.mean(axis=0)

Accuracy     0.956422
ROC_AUC      0.841957
Precision    0.241158
Recall       0.266748
f1           0.219859
Logloss      0.196172
dtype: float64

In [103]:
alg_nearest(df_train, df_test, df_submission_less_4, df)

  0%|          | 0/500 [00:00<?, ?it/s]

0.3411196863246043

In [29]:
def objective(trial: optuna.Trial, x, y):
    params = {
        'n_estimators': trial.suggest_categorical('n_estimators', [100]),
        'learning_rate': trial.suggest_float('learning_rate', 0.001, 0.1),
#         'learning_rate': trial.suggest_categorical('learning_rate', [0.0757125443665628]),
#         'max_bin': trial.suggest_int('max_bin', 200, 800),
#         'num_leaves': trial.suggest_int('num_leaves', 20, 150),
#         'max_depth': trial.suggest_int('max_depth', 4, 12),
#         'min_child_samples': trial.suggest_int('min_child_samples', 200, 20000, step=200),
#         'lambda_l1': trial.suggest_int('lambda_l1', 0, 50),
#         'lambda_l2': trial.suggest_int('lambda_l2', 0, 50),
#         'min_split_gain': trial.suggest_float('min_split_gain', 0.001, 0.1),
#         'objective': 'binary',
#         'metric': 'auc',
#         'feature_fraction': trial.suggest_float('feature_fraction', 0.3, 1.0),
#         'bagging_fraction': trial.suggest_float('bagging_fraction', 0.3, 1.0),
#         'bagging_freq': trial.suggest_int('bagging_freq', 2, 6),
#         'random_state': RAND,
    }

    cv_pred = np.empty(N_FOLDS)
    cv = StratifiedKFold(n_splits=N_FOLDS, shuffle=True, random_state=RAND)

    for fold, (train_idx, test_idx) in enumerate(cv.split(x, y)):
        x_train_, x_val_ = x.iloc[train_idx], x.iloc[test_idx]
        y_train_, y_val_ = y.iloc[train_idx], y.iloc[test_idx]

        pruning = optuna.integration.LightGBMPruningCallback(trial, 'auc')

        model = LGBMClassifier(
            class_weight='balanced',
            n_jobs=-1,
            **params
        )
        model.fit(x_train_, y_train_,
                  eval_metric='auc',
                  eval_set=[(x_val_, y_val_)],
                  early_stopping_rounds=100,
                  callbacks=[pruning],
                  verbose=0)

        y_pred = model.predict(x_val_)
        y_proba = model.predict_proba(x_val_)[:, 1]

        cv_pred[fold] = roc_auc_score(y_val_, y_proba)
    return (np.mean(cv_pred))

In [24]:
def open_file(file_path):
    with open(file_path, 'r') as file:
        return yaml.safe_load(file)
    
def save_file(file_path, data):       
    with open(file_path, 'w') as file:
        yaml.dump(data, file)

In [30]:
def tune_algorithm(df_train: pd.DataFrame, df_test: pd.DataFrame, 
                   df_submission: pd.DataFrame, df: pd.DataFrame, file_path):
    
    data = open_file(file_path)
    
    for sup in tqdm(df_submission.index[:500]):

        # подготавливаем данные к обучению
        df_sup_train, df_sup_test, df_sup_true = edit_data(df_train, df_test, df, sup)

        # добавляем метки для обучения алгоритма классификации 
        df_sup_train['target'] = df_sup_train.index.isin(df_sup_true).astype(int)
        df_sup_test['target'] = df_sup_test.index.isin(df_sup_true).astype(int)
        
        params = tune_lgbm(df_sup_train, df_sup_test)
        
        # Если ключ уже существует, добавить элементы в список
        if sup in data:
            data[sup].extend(params)
        # Если ключа еще нет, создать новый список
        else:
            data[sup] = params
            
    save_file(file_path, data)

In [31]:
tune_algorithm(df_train, df_test, df_submission, df, 
               "../config/model_params.yaml")

  0%|          | 0/500 [00:00<?, ?it/s]

[I 2023-04-06 15:31:46,933] A new study created in memory with name: no-name-8769cbd9-4113-4f0b-bb7e-57b7d7d31cec

  0%|          | 0/10 [00:00<?, ?it/s]

[I 2023-04-06 15:31:54,312] Trial 5 finished with value: 0.7898622047244095 and parameters: {'n_estimators': 100, 'learning_rate': 0.0035776003939791126}. Best is trial 5 with value: 0.7898622047244095.
[I 2023-04-06 15:31:57,549] Trial 1 finished with value: 0.860236220472441 and parameters: {'n_estimators': 100, 'learning_rate': 0.01629123155222644}. Best is trial 1 with value: 0.860236220472441.
[I 2023-04-06 15:31:58,479] Trial 4 finished with value: 0.8656496062992125 and parameters: {'n_estimators': 100, 'learning_rate': 0.025335469653536044}. Best is trial 4 with value: 0.8656496062992125.
[I 2023-04-06 15:31:59,646] Trial 7 finished with value: 0.8885334645669292 and parameters: {'n_estimators': 100, 'learning_rate': 0.052648551673989484}. Best is trial 7 with value: 0.8885334645669292.
[I 2023-04-06 15:32:00,549] Trial 0 finished with value: 0.8805118110236221 and parameters: {'n_estimators': 100, 'learning_rate': 0.06338613439804577}. Best is trial 7 with value: 0.8885334645669292.
[I 2023-04-06 15:32:00,673] Trial 6 finished with value: 0.893996062992126 and parameters: {'n_estimators': 100, 'learning_rate': 0.08124566647976693}. Best is trial 6 with value: 0.893996062992126.
[I 2023-04-06 15:32:00,837] Trial 2 finished with value: 0.8922244094488189 and parameters: {'n_estimators': 100, 'learning_rate': 0.09578224566239736}. Best is trial 6 with value: 0.893996062992126.
[I 2023-04-06 15:32:00,926] Trial 3 finished with value: 0.8926181102362205 and parameters: {'n_estimators': 100, 'learning_rate': 0.09434853683460993}. Best is trial 6 with value: 0.893996062992126.
[I 2023-04-06 15:32:03,253] Trial 8 finished with value: 0.8920275590551181 and parameters: {'n_estimators': 100, 'learning_rate': 0.09556191455847528}. Best is trial 6 with value: 0.893996062992126.
[I 2023-04-06 15:32:03,371] Trial 9 finished with value: 0.8700787401574803 and parameters: {'n_estimators': 100, 'learning_rate': 0.03174248211777914}. Best is trial 6 with value: 0.893996062992126.

[I 2023-04-06 15:32:03,474] A new study created in memory with name: no-name-deb9c2b7-efde-4af4-9690-56f5e4382604

  0%|          | 0/10 [00:00<?, ?it/s]

[I 2023-04-06 15:32:20,896] Trial 6 finished with value: 0.7375794918340868 and parameters: {'n_estimators': 100, 'learning_rate': 0.009711404583494131}. Best is trial 6 with value: 0.7375794918340868.
[I 2023-04-06 15:32:21,244] Trial 2 finished with value: 0.7657124945246117 and parameters: {'n_estimators': 100, 'learning_rate': 0.009318927603508251}. Best is trial 2 with value: 0.7657124945246117.
[I 2023-04-06 15:32:24,531] Trial 5 finished with value: 0.8512771265494207 and parameters: {'n_estimators': 100, 'learning_rate': 0.03719265497185078}. Best is trial 5 with value: 0.8512771265494207.
[I 2023-04-06 15:32:24,834] Trial 7 finished with value: 0.8276508516254942 and parameters: {'n_estimators': 100, 'learning_rate': 0.03827827671908354}. Best is trial 5 with value: 0.8512771265494207.
[I 2023-04-06 15:32:25,066] Trial 0 finished with value: 0.8243739303771638 and parameters: {'n_estimators': 100, 'learning_rate': 0.04109603855617044}. Best is trial 5 with value: 0.8512771265494207.
[I 2023-04-06 15:32:25,888] Trial 1 finished with value: 0.8450517294331115 and parameters: {'n_estimators': 100, 'learning_rate': 0.056714258444069694}. Best is trial 5 with value: 0.8512771265494207.
[I 2023-04-06 15:32:26,246] Trial 3 finished with value: 0.8675309000998245 and parameters: {'n_estimators': 100, 'learning_rate': 0.06502667649558315}. Best is trial 3 with value: 0.8675309000998245.
[I 2023-04-06 15:32:27,014] Trial 4 finished with value: 0.8594854038821023 and parameters: {'n_estimators': 100, 'learning_rate': 0.09866822135139203}. Best is trial 3 with value: 0.8675309000998245.
[I 2023-04-06 15:32:31,117] Trial 8 finished with value: 0.8166700744985292 and parameters: {'n_estimators': 100, 'learning_rate': 0.023471232694932512}. Best is trial 3 with value: 0.8675309000998245.

[I 2023-04-06 15:32:31,533] A new study created in memory with name: no-name-45c7cc53-f7e5-431e-adaf-a40765095c29

[I 2023-04-06 15:32:31,429] Trial 9 finished with value: 0.8435619978123382 and parameters: {'n_estimators': 100, 'learning_rate': 0.05375020234078074}. Best is trial 3 with value: 0.8675309000998245.

  0%|          | 0/10 [00:00<?, ?it/s]

[I 2023-04-06 15:32:58,364] Trial 7 finished with value: 0.8128963839191112 and parameters: {'n_estimators': 100, 'learning_rate': 0.01789891802931435}. Best is trial 7 with value: 0.8128963839191112.
[I 2023-04-06 15:32:58,475] Trial 6 finished with value: 0.8102765501774648 and parameters: {'n_estimators': 100, 'learning_rate': 0.017422760558013162}. Best is trial 7 with value: 0.8128963839191112.
[I 2023-04-06 15:32:58,496] Trial 3 finished with value: 0.8073055397577293 and parameters: {'n_estimators': 100, 'learning_rate': 0.015931797548705526}. Best is trial 7 with value: 0.8128963839191112.
[I 2023-04-06 15:32:58,626] Trial 5 finished with value: 0.8297782628956409 and parameters: {'n_estimators': 100, 'learning_rate': 0.043984133829983556}. Best is trial 5 with value: 0.8297782628956409.
[I 2023-04-06 15:32:58,994] Trial 1 finished with value: 0.8233622207430411 and parameters: {'n_estimators': 100, 'learning_rate': 0.033435944518503694}. Best is trial 5 with value: 0.8297782628956409.
[I 2023-04-06 15:32:59,021] Trial 2 finished with value: 0.830215807497196 and parameters: {'n_estimators': 100, 'learning_rate': 0.07700580939814705}. Best is trial 2 with value: 0.830215807497196.
[I 2023-04-06 15:32:59,055] Trial 4 finished with value: 0.8374854629618349 and parameters: {'n_estimators': 100, 'learning_rate': 0.05671484658096634}. Best is trial 4 with value: 0.8374854629618349.
[I 2023-04-06 15:32:59,168] Trial 0 finished with value: 0.8309491229391451 and parameters: {'n_estimators': 100, 'learning_rate': 0.0745336725443583}. Best is trial 4 with value: 0.8374854629618349.
[I 2023-04-06 15:32:59,436] Trial 9 pruned. Trial was pruned at iteration 24.
[I 2023-04-06 15:32:59,597] Trial 8 pruned. Trial was pruned at iteration 41.

[I 2023-04-06 15:32:59,707] A new study created in memory with name: no-name-421f4ebd-f4e2-43c0-8a61-4d6fd6c666af

  0%|          | 0/10 [00:00<?, ?it/s]

[I 2023-04-06 15:33:25,068] Trial 4 finished with value: 0.7675966133627423 and parameters: {'n_estimators': 100, 'learning_rate': 0.016010976819506927}. Best is trial 4 with value: 0.7675966133627423.
[I 2023-04-06 15:33:25,501] Trial 3 finished with value: 0.7775423511045327 and parameters: {'n_estimators': 100, 'learning_rate': 0.03694499554165279}. Best is trial 3 with value: 0.7775423511045327.
[I 2023-04-06 15:33:25,826] Trial 6 finished with value: 0.7780799401661032 and parameters: {'n_estimators': 100, 'learning_rate': 0.04173615313993886}. Best is trial 6 with value: 0.7780799401661032.
[I 2023-04-06 15:33:25,988] Trial 0 finished with value: 0.785520141035315 and parameters: {'n_estimators': 100, 'learning_rate': 0.058701573507466014}. Best is trial 0 with value: 0.785520141035315.
[I 2023-04-06 15:33:26,027] Trial 5 finished with value: 0.777534453163167 and parameters: {'n_estimators': 100, 'learning_rate': 0.03999429775841044}. Best is trial 0 with value: 0.785520141035315.
[I 2023-04-06 15:33:26,056] Trial 1 finished with value: 0.7749378821243209 and parameters: {'n_estimators': 100, 'learning_rate': 0.055331991806600485}. Best is trial 0 with value: 0.785520141035315.
[I 2023-04-06 15:33:26,079] Trial 2 finished with value: 0.7754051077082699 and parameters: {'n_estimators': 100, 'learning_rate': 0.0688599984173281}. Best is trial 0 with value: 0.785520141035315.
[I 2023-04-06 15:33:26,106] Trial 7 finished with value: 0.774829124826472 and parameters: {'n_estimators': 100, 'learning_rate': 0.09865662565885257}. Best is trial 0 with value: 0.785520141035315.
[I 2023-04-06 15:33:34,178] Trial 8 finished with value: 0.7829555774430563 and parameters: {'n_estimators': 100, 'learning_rate': 0.05968518770746831}. Best is trial 0 with value: 0.785520141035315.
[I 2023-04-06 15:33:34,267] Trial 9 finished with value: 0.783040867651967 and parameters: {'n_estimators': 100, 'learning_rate': 0.07454551238935783}. Best is trial 0 with value: 0.785520141035315.

[I 2023-04-06 15:33:34,506] A new study created in memory with name: no-name-88404b59-9df2-495d-b625-03154aec81c2

  0%|          | 0/10 [00:00<?, ?it/s]

KeyboardInterrupt: